---
import { Image } from "astro:assets";
import {Utensils} from "@lucide/astro";
import HeroImage from "@/assets/HeroTaco.jpg";


---

<section  class="w-screen object-cover">

    <div class="relative h-64 md:h-96 bg-stone-900 overflow-hidden">
        <Image 
            src={HeroImage} 
            alt="Ingredientes frescos para preparar tacos deliciosos" 
            class="w-full h-full lg:h-auto lg:object-cover object-cover opacity-40"
        />
        <div class="absolute inset-0 flex flex-col items-center justify-center text-center px-4">
            <h1 class="text-4xl md:text-6xl font-extrabold text-white drop-shadow-lg mb-2 italic"><span class="text-[#006847]">¡Sabor</span> <span class="text-[#ffffff]">de</span> <span class="text-[#ce1126]">México!</span></h2>
            <p class="text-lg text-orange-100 max-w-lg mb-6 drop-shadow-md">De la cocina a tu mesa, sin atajos.</p>
            <a href="#menu-section" class=" bg-[#f29829] hover:bg-[#db7f0d] text-white font-bold py-3 px-8 rounded-full transition-all transform hover:scale-105 hover:cursor-pointer shadow-xl flex items-center gap-2">
            Ver Menú 
            <i class="w-5 h-5"><Utensils /></i>
            </a>
        </div>
    </div>
  
       
        
    
    

</section>