---
import Footer from "@/components/structure/Footer.astro" 
import Header from "@/components/structure/Header.astro"
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/500.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/montserrat-alternates/800.css';
import InstallBanner from '@/components/ui/InstallBanner'

---
<html lang="es">    

    <head>    
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Taco Express</title>
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="icon" type="image/png" href="icons/favicon.ico"/>

        <link rel="manifest" href="/manifest.webmanifest" />
        <meta name="theme-color" content="#f59e0b" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />


    </head>


    <body>

        <Header />
        
        <main>
            <slot />
        </main>
        
        
        <Footer />
        <InstallBanner  client:only="preact"/>
        <script>
          if ("serviceWorker" in navigator) {
            window.addEventListener("load", () => {
              navigator.serviceWorker.register("/sw.js");
            });
          }
        </script>
    </body>
    </html>