---
import Footer from "@/components/structure/Footer.astro" 
import Header from "@/components/structure/Header.astro"
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/500.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/montserrat-alternates/800.css';

---
<html lang="es">    

    <head>    
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Taco Express</title>
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="icon" type="image/png" href="/favicon.ico"/>

    </head>


    <body>

        <Header />
        
        <main>
            <slot />
        </main>
        
        
        <Footer />
        </body>
    </html>