---
import Footer from "@/components/structure/Footer.astro" 
import Header from "@/components/structure/Header.astro"
import MobileNav from '@/components/structure/NavbarMobile' // Importa el nuevo componente
import Cart from '@/components/ui/Cart' // El carrito que ya tienes
import InstallBanner from '@/components/ui/InstallBanner'
import FloatingCart from '@/components/ui/flootingCart'
import AddToCartToast from "@/components/ui/addCartToast"
import '@fontsource/montserrat/400.css';
import '@fontsource/montserrat/500.css';
import '@fontsource/montserrat/600.css';
import '@fontsource/changa-one/400.css';
---
<html lang="es">    
    <head>    
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" /> <title>Taco Express</title>
        <link rel="stylesheet" href="/styles/global.css" />
        <link rel="icon" type="image/png" href="icons/favicon.ico"/>
        <link rel="manifest" href="/manifest.webmanifest" />
        <meta name="theme-color" content="#f59e0b" />
        <meta name="description" content="Disfruta del auténtico sabor de México en Taco Express. 🌮 Tacos, sopas de tortilla y especialidades con ingredientes frescos. ¡Pide ahora!" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />
        <script is:inline>
  // Guardamos el evento en una variable global para que el componente lo recoja luego
        window.addEventListener('beforeinstallprompt', (e) => {
          e.preventDefault();
          window.deferredPrompt = e;
        });
      </script>
    </head>

    <body class="bg-stone-50 antialiased font-['Montserrat'] pb-17 md:pb-0">
        <Header />
        
        <main class="pb-24 md:pb-0">
            <slot />
            <AddToCartToast client:only="preact" />
        </main>
        
        <Footer />

        <FloatingCart client:only="preact" />
        <MobileNav client:only="preact" /> 
        <Cart client:only="preact" />
        <InstallBanner client:only="preact"/>
        <script>
          if ("serviceWorker" in navigator) {
            window.addEventListener("load", () => {
              navigator.serviceWorker.register("/sw.js");
            });
          }
        </script>
    </>
</html>

<style is:global>
  /* Evita que el contenido quede detrás de la barra de gestos en iPhone y ajusta el MobileNav */
  :root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
  }

  .pb-safe {
    padding-bottom: var(--sab);
  }
</style>